Output/Service References/ExceptionHandler/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LIB.Tools.BO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LIB.Tools.BO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://eh.galex.md:82/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/LIB.BusinessObjects" />
  <xs:import schemaLocation="http://eh.galex.md:82/Service.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ItemBase">
    <xs:sequence>
      <xs:element name="_x003C_Category_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LIB.BusinessObjects" name="_x003C_CreatedBy_x003E_k__BackingField" nillable="true" type="q1:User" />
      <xs:element name="_x003C_DateCreated_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LIB.BusinessObjects" name="_x003C_DeletedBy_x003E_k__BackingField" nillable="true" type="q2:User" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:long" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_SearchItems_x003E_k__BackingField" nillable="true" type="q3:ArrayOfKeyValueOflongItemBaseZAS3pCsu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemBase" nillable="true" type="tns:ItemBase" />
  <xs:complexType name="AggregateBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ItemBase">
        <xs:sequence>
          <xs:element name="_x003C_Color_x003E_k__BackingField" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AggregateBase" nillable="true" type="tns:AggregateBase" />
</xs:schema>