Output/Service References/ExceptionHandler/Service5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://eh.galex.md:82/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ER_BT.Models.Objects" />
  <xs:element name="SaveException">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ER_BT.Models.Objects" minOccurs="0" name="exception" nillable="true" type="q1:Excep" />
        <xs:element minOccurs="0" name="installKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExceptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>