Output/Service References/ExceptionHandler/Service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ER_BT.Models.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ER_BT.Models.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://eh.galex.md:82/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ER_BTLib.BusinessObjects" />
  <xs:import schemaLocation="http://eh.galex.md:82/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/LIB.BusinessObjects" />
  <xs:import schemaLocation="http://eh.galex.md:82/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/LIB.Tools.BO" />
  <xs:import schemaLocation="http://eh.galex.md:82/Service.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Excep">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/ER_BTLib.BusinessObjects" base="q1:PrintBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Bug" nillable="true" type="tns:Bug" />
          <xs:element minOccurs="0" name="Install" nillable="true" type="tns:Install" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Post" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QueryString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestType" nillable="true" type="tns:RequestType" />
          <xs:element minOccurs="0" name="StatusCode" nillable="true" type="tns:StatusCode" />
          <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UrlReferrer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserAgent" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserHostAdress" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Excep" nillable="true" type="tns:Excep" />
  <xs:complexType name="Bug">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/ER_BTLib.BusinessObjects" base="q2:PrintBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BugIgnoredComment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BugState" nillable="true" type="tns:BugState" />
          <xs:element minOccurs="0" name="Developer" nillable="true" type="tns:Developer" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Project" nillable="true" type="tns:Project" />
          <xs:element minOccurs="0" name="Resolution" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Search" type="xs:boolean" />
          <xs:element minOccurs="0" name="StatusCode" nillable="true" type="tns:StatusCode" />
          <xs:element minOccurs="0" name="Ticket" nillable="true" type="tns:Ticket" />
          <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Bug" nillable="true" type="tns:Bug" />
  <xs:complexType name="BugState">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/LIB.Tools.BO" base="q3:AggregateBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LIB.BusinessObjects" minOccurs="0" name="PredefinedColor" nillable="true" type="q4:PredefinedColor" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BugState" nillable="true" type="tns:BugState" />
  <xs:complexType name="Developer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/ER_BTLib.BusinessObjects" base="q5:PrintBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Person" nillable="true" type="q5:Person" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Developer" nillable="true" type="tns:Developer" />
  <xs:complexType name="Project">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/ER_BTLib.BusinessObjects" base="q6:PrintBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BugCount" type="xs:int" />
          <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Bugs" nillable="true" type="q7:ArrayOfKeyValueOflongItemBaseZAS3pCsu" />
          <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
          <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Installs" nillable="true" type="q8:ArrayOfKeyValueOflongItemBaseZAS3pCsu" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProjectState" nillable="true" type="tns:ProjectState" />
          <xs:element minOccurs="0" name="ProjectType" nillable="true" type="tns:ProjectType" />
          <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Technology" nillable="true" type="q9:ArrayOfKeyValueOflongItemBaseZAS3pCsu" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
  <xs:complexType name="ProjectState">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/ER_BTLib.BusinessObjects" base="q10:PrintBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProjectState" nillable="true" type="tns:ProjectState" />
  <xs:complexType name="ProjectType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/ER_BTLib.BusinessObjects" base="q11:PrintBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProjectType" nillable="true" type="tns:ProjectType" />
  <xs:complexType name="StatusCode">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/ER_BTLib.BusinessObjects" base="q12:PrintBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StatusCode" nillable="true" type="tns:StatusCode" />
  <xs:complexType name="Ticket">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/ER_BTLib.BusinessObjects" base="q13:PrintBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Install" nillable="true" type="tns:Install" />
          <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Installs" nillable="true" type="q14:ArrayOfKeyValueOflongItemBaseZAS3pCsu" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Priority" nillable="true" type="tns:Priority" />
          <xs:element minOccurs="0" name="ProductOwner" nillable="true" type="tns:ProductOwner" />
          <xs:element minOccurs="0" name="Project" nillable="true" type="tns:Project" />
          <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Projects" nillable="true" type="q15:ArrayOfKeyValueOflongItemBaseZAS3pCsu" />
          <xs:element minOccurs="0" name="Resolution" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TicketState" nillable="true" type="tns:TicketState" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
  <xs:complexType name="Install">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/ER_BTLib.BusinessObjects" base="q16:PrintBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BugCount" type="xs:int" />
          <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
          <xs:element minOccurs="0" name="ClientList" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateInstalled" type="xs:dateTime" />
          <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Exceps" nillable="true" type="q17:ArrayOfKeyValueOflongItemBaseZAS3pCsu" />
          <xs:element minOccurs="0" name="InstallKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductOwner" nillable="true" type="tns:ProductOwner" />
          <xs:element minOccurs="0" name="ProductOwnerList" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Project" nillable="true" type="tns:Project" />
          <xs:element minOccurs="0" name="ServerInstalled" nillable="true" type="tns:ServerInstalled" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Install" nillable="true" type="tns:Install" />
  <xs:complexType name="Client">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/ER_BTLib.BusinessObjects" base="q18:PrintBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Person" nillable="true" type="q18:Person" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ProductOwner">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/ER_BTLib.BusinessObjects" base="q19:PrintBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Person" nillable="true" type="q19:Person" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductOwner" nillable="true" type="tns:ProductOwner" />
  <xs:complexType name="ServerInstalled">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://schemas.datacontract.org/2004/07/ER_BTLib.BusinessObjects" base="q20:PrintBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServerInstalled" nillable="true" type="tns:ServerInstalled" />
  <xs:complexType name="Priority">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://schemas.datacontract.org/2004/07/ER_BTLib.BusinessObjects" base="q21:PrintBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Priority" nillable="true" type="tns:Priority" />
  <xs:complexType name="TicketState">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://schemas.datacontract.org/2004/07/ER_BTLib.BusinessObjects" base="q22:PrintBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/LIB.BusinessObjects" minOccurs="0" name="PredefinedColor" nillable="true" type="q23:PredefinedColor" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TicketState" nillable="true" type="tns:TicketState" />
  <xs:complexType name="RequestType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://schemas.datacontract.org/2004/07/ER_BTLib.BusinessObjects" base="q24:PrintBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestType" nillable="true" type="tns:RequestType" />
</xs:schema>